.Navbar {
  height: 100vh;
  /* padding-left: 1rem; */

  /* position: relative; */

  background-color: #0a0c1a;
}
@media only screen and (max-width: 775px) {
  .Navbar {
    display: none;
  }
}
.Navbar_cont {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.Navbar_cont > div {
  margin-top: 1.3rem;
  padding-left: 1rem;
  /* border-left: 3px solid red; */
}
.icon > img {
  border-left: 1px solid red;
  /* background-color: red; */
  fill: red;
  width: 70%;
}
.icon_de > img {
  border-left: none;
  fill: none;
}
