.post_img {
  width: 50%;
  overflow: hidden;
  background-position: center;
  background-size: cover;
}

.img_cont {
  position: relative;
  /* justify-content: center; */
  align-items: center;
  overflow: scroll;
  max-height: 40rem;
  overflow-y: hidden;
}
.img_cont > img {
  width: 100%;
  height: fit-content;
}
/* .img_cont::-webkit-scrollbar-thumb {
  display: none;
} */
.img_slide {
  display: inline-block;
  max-width: 100%;
  max-block-size: 100vw;
  max-height: 200%;
  /* height: 10rem; */
}
.img_slide > img {
  background-size: cover;
  max-width: 100%;
}
.img,
.post_div {
  margin-bottom: 1.5rem;
  /* padding-top: 0.5rem; */
  /* padding-bottom: 0.5rem; */
  padding: 0.5rem;
  background-color: #0a0c1a;
}
.bottom_svg {
  width: 2rem;
}
.bottom_svg:nth-child(3) {
  width: 3rem;
}
.city_name {
  /* font-size: 0.75rem; */
  color: rgb(170, 169, 169);
  /* padding-left: 1rem; */
  /* line-height: 0.4rem; */
  font-style: italic;
}
