@import url("https://fonts.googleapis.com/css2?family=Mukta&display=swap");
* {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Mukta", sans-serif;
}
::selection {
  background-color: white;
  color: black;
}
